<a href="https://colab.research.google.com/github/kaseywoo1240/Python/blob/main/Predicting_House_Prices_Using_Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting House Prices Using Multiple Linear Regression

In this project we are gonna see how machine learning algorithms help us predict house prices. Linear Regression is a model of predicting new future data by using the existing correlation between the old data. Here, machine learning helps us identify this relationship between feature data and output, so we can predict future values.

In [ ]:
import pandas as pd
# we use sklearn library in many machine learning calculations..
from sklearn import linear_model

# we import our dataset: housepricesdataset.csv
from google.colab import drive
url = 'https://raw.githubusercontent.com/kaseywoo1240/Python/main/housepricesdataset.csv'
df = pd.read_csv(url,sep = ";")

In [ ]:
# lets see and check our data set:
df

   area  roomcount  buildingage   price
0   180          5           10  510000
1   225          4           18  508000
2   260          3            2  548000
3   320          6           10  650000
4   335          4            9  628000
5   345          5           14  632000
6   355          3            0  680000
7   400          4           10  725000

# The following is our feature set:

In [ ]:
df[['area','roomcount','buildingage']]

   area  roomcount  buildingage
0   180          5           10
1   225          4           18
2   260          3            2
3   320          6           10
4   335          4            9
5   345          5           14
6   355          3            0
7   400          4           10

# The following is the output(result) data:

In [ ]:
df['price']

0    510000
1    508000
2    548000
3    650000
4    628000
5    632000
6    680000
7    725000
Name: price, dtype: int64

In [ ]:
# we define a linear regression model here: 

reg = linear_model.LinearRegression()
reg.fit(df[['area', 'roomcount', 'buildingage']],df['price'])

LinearRegression()

# Since our model is ready, we can make predictions now:

In [ ]:
# lets predict a house with 230 square meters, 4 rooms and 10 years old building..

reg.predict([[230,4,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([530243.29284619])

# Now lets predict a house with 230 square meters, 6 rooms, and 0 - years old building - its a new building...

In [ ]:
reg.predict([[230,6,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([586097.7833456])

# Now lets predict a house with 355 square meters, 3 rooms, and 20 years old building

In [ ]:
reg.predict([[355,3,20]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([616657.45791365])

In [ ]:
# You can make as many predictions as you want...
reg.predict([[230,4,10],[230,6,0],[355,3,20],[275,5,17]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([530243.29284619, 586097.7833456 , 616657.45791365, 572745.26595036])

# Now we'll see the coefficients of our multilinear regression formula..

In [ ]:
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [ ]:
reg.intercept_

262365.1503032055

In [ ]:
# Lets see the coefficients of Multiple Lienar regression formula...
# y = a + b1x1 + b2x2 + b3x3 + b4x4 + b5x5 ... etc

a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 230
x2 = 4
x3 = 10

y = a + b1*x1 + b2*x2 + b3*x3

y

530243.2928461881